#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}
.message-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
  border: 4px solid #000;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* 平滑滚动 */
}
.message {
  width: 400px;
}
.header {
  display: flex;
  justify-content: center;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.flex-fixlength {
  flex: 0 0 100px;
}
.flex-growlength {
  flex: 1 1 auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-nested {
  width: auto;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  object-fit: contain;
}
